<template>
<div class="header">
  <section class="hero is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <nuxt-link to="/" tag="a" class="navbar-item">
            test
          </nuxt-link>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
             <nuxt-link to="/polyaki" tag="a" class="navbar-item">
              Home
            </nuxt-link>
            <a class="navbar-item">
              test
            </a>
            <a class="navbar-item">
              test
            </a>

          </div>
        </div>
      </div>
    </nav>
  </div>

</section>


<nuxt-link to="/" tag="a">
  <section class="hero is-medium  headerimg">
<div class="hero-body">
  <div class="container">
    <h1 class="title">
      くぼた学
    </h1>
    <h2 class="subtitle">
      立川市議会議員
    </h2>
  </div>
</div>
</section>
</nuxt-link>
  </div>
</template>


<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['page'])
}
</script>
<style>
.headerimg{
  height: 45vh;
  background: url(/assets/img/header_orig.jpg);
  background-size: cover;
  background-position-y: -113px;
}
</style>
