<template>
<div class="container-fluid">


<section class="section has-text-centered">
    <div class="container">

      <div class="columns top_area">
        <nuxt-link to="/polyaki" tag="a">
        <div class="column">
          {{ title_1 }}
        </div>
        </nuxt-link>
      </div>
      <div class="columns center_area">
        <div class="column">
          {{ title_2 }}
        </div>
      </div>
      <div class="columns bottom_area">
        <div class="column">
          {{ title_3 }}
        </div>
      </div>
      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
</section>


  <div class="footer">
  </div>
  </div>
</template>

<script>
export default {
  asyncData (context) {
    // コンポーネントをロードする前に毎回呼び出されます
    return { title_1: 'AV時代',title_2: '元カノ',title_3: '元嫁' }
  }
}
</script>
<style>

.columns.top_area, .columns.center_area, .columns.bottom_area {
    height: 340px;
}
.top_area{
  background: url(/assets/img/avarea.png);
}
.top_area::before{
  content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
display: block;
width: 100%;
height: 340px;
    background-color: rgba(28, 29, 28, 0.6);

}
.top_area .column{
  font-size: 6vw;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
