<template>
<div class="container-fluid">


<section class="section has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p v-html="link_v1"></p>
        </div>


      <div class="column">
        <p v-html="link_v2"></p>
      </div>

      </div>

      <div class="columns">
        <div class="column">
          <p v-html="link_v3"></p>
        </div>


      <div class="column">
        <p v-html="link_v2"></p>
      </div>

      </div>

      <a href="http://www.nicovideo.jp/tag/%E3%83%9D%E3%83%AA%E3%83%95%E3%82%A7%E3%83%8E%E3%83%BC%E3%83%AB%E7%A7%8B%E5%B1%B1" class="button is-info">
        もっとみる
      </a>

      <h1 class="title">Section</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
</section>


  <div class="footer">
  </div>
  </div>
</template>

<script>
export default {
  asyncData (context) {
    // コンポーネントをロードする前に毎回呼び出されます
    return { link_v1: '<iframe src="https://embed.share-videos.se/auto/embed/54092059?uid=13" frameborder=0 width=100% height=480 scrolling=no allowFullScreen></iframe>',
    link_v2: '<iframe width="660" height="475" src="https://www.youtube.com/embed/sJl6jkmF1eI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>',
    link_v3: '<iframe width="660" height="475" src="https://www.youtube.com/embed/nhuTc9uBpy0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>' }
  }
}
</script>
<style>

.columns.top_area, .columns.center_area, .columns.bottom_area {
    height: 340px;
}
.top_area{
  background: url(/assets/img/avarea.png);
}
.top_area::before{
  content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
display: block;
width: 100%;
height: 340px;
    background-color: rgba(28, 29, 28, 0.6);

}
.top_area .column{
  font-size: 6vw;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
